# Table Creation

## Imports

In [1]:
import pandas as pd
import json
import re

## Data

In [2]:
# Read cvs file using pandas
table_df = pd.read_csv('table_data.csv')
table_df

,Model_Year,Make,Model,MPG,Cylinders,Displacement,Horsepower,Acceleration,Weight,Country
0,1970,Rolls Royce,Silver Shadow,11.0,8,380.0,189,11.0,4648,England
1,1970,Peugeot,504,25.0,4,110.0,87,17.5,2672,France
2,1970,Audi,100 Ls,24.0,4,107.0,90,14.5,2430,Germany
3,1970,Bmw,2002,26.0,4,121.0,113,12.5,2234,Germany
4,1970,Volkswagen,1131 Deluxe Sedan,26.0,4,97.0,46,20.5,1835,Germany
...,...,...,...,...,...,...,...,...,...,...
404,1982,Mercury,Lynx L,36.0,4,98.0,70,17.3,2125,United States
405,1982,Oldsmobile,Cutlass Ciera (Diesel),38.0,6,262.0,85,17.0,3015,United States
406,1982,Plymouth,Horizon Miser,38.0,4,105.0,63,14.7,2125,United States
407,1982,Pontiac,J2000 Se Hatchback,31.0,4,112.0,85,16.2,2575,United States
408,1982,Pontiac,Phoenix,27.0,4,151.0,90,18.0,2735,United States

In [3]:
table_df = table_df.astype(str,copy=False)

In [4]:
table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Model_Year    409 non-null    object
 1   Make          409 non-null    object
 2   Model         409 non-null    object
 3   MPG           409 non-null    object
 4   Cylinders     409 non-null    object
 5   Displacement  409 non-null    object
 6   Horsepower    409 non-null    object
 7   Acceleration  409 non-null    object
 8   Weight        409 non-null    object
 9   Country       409 non-null    object
dtypes: object(10)
memory usage: 32.1+ KB

In [8]:
#tabledata_js = table_df.to_json('data.js', orient='records')

In [9]:
data = pd.read_json('data.js')
data

,0,1,2,3,4,5,6,7,8,9,...,399,400,401,402,403,404,405,406,407,408
Model_Year,1970,1970,1970,1970,1970,1970,1970,1970,1970,1970,...,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982
Make,Rolls Royce,Peugeot,Audi,Bmw,Volkswagen,Datsun,Toyota,Saab,Amc,Amc,...,Dodge,Ford,Ford,Ford,Ford,Mercury,Oldsmobile,Plymouth,Pontiac,Pontiac
Model,Silver Shadow,504,100 Ls,2002,1131 Deluxe Sedan,Pl510,Corona Mark Ii,99E,Rebel Sst,Ambassador Dpl,...,Rampage,Fairmont Futura,Granada L,Mustang Gl,Ranger,Lynx L,Cutlass Ciera (Diesel),Horizon Miser,J2000 Se Hatchback,Phoenix
MPG,11.0,25.0,24.0,26.0,26.0,27.0,24.0,25.0,16.0,15.0,...,32.0,24.0,22.0,27.0,28.0,36.0,38.0,38.0,31.0,27.0
Cylinders,8,4,4,4,4,4,4,4,8,8,...,4,4,6,4,4,4,6,4,4,4
Displacement,380.0,110.0,107.0,121.0,97.0,97.0,113.0,104.0,304.0,390.0,...,135.0,140.0,232.0,140.0,120.0,98.0,262.0,105.0,112.0,151.0
Horsepower,189,87,90,113,46,88,95,95,150,190,...,84,92,112,86,79,70,85,63,85,90
Acceleration,11.0,17.5,14.5,12.5,20.5,14.5,15.0,17.5,12.0,8.5,...,11.6,16.4,14.7,15.6,18.6,17.3,17.0,14.7,16.2,18.0
Weight,4648,2672,2430,2234,1835,2130,2372,2375,3433,3850,...,2295,2865,2835,2790,2625,2125,3015,2125,2575,2735
Country,England,France,Germany,Germany,Germany,Japan,Japan,Sweden,United States,United States,...,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Model_Year to Country
Columns: 409 entries, 0 to 408
dtypes: object(409)
memory usage: 32.0+ KB